<form>
  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select>
      <mat-option value="expanse">Expanse</mat-option>
      <mat-option value="income">Income</mat-option>
      <mat-option value="transfer">Transfer</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput placeholder="0.00" type="number" autocomplete="off">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Details</mat-label>
    <textarea matInput placeholder="Enter details ..." rows="3"></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="food">Food</mat-option>
      <mat-option value="cloth">Cloth</mat-option>
      <mat-option value="healthcare">Healthcare</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<button mat-fab color="accent" routerLink="/transaction/new">
  <mat-icon>save</mat-icon>
</button>