html,
body {
  height: 100%;
}
html{
  // background: lightgray;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // max-width: 420px;
  // margin: auto;
  // background: white;
}
a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.color-red{
  color: rgb(255, 60, 0);
}
.color-green{
  color: rgb(4, 128, 0);
}
.color-blue{
  color: rgb(0, 153, 255);
}